@font-face {
  font-display: fallback;
  font-family: Fredoka;
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/FredokaOne-Regular.ttf') format("truetype");
}

@font-face {
  font-display: fallback;
  font-family: Chewy;
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/Chewy-Regular.ttf') format("truetype");
}