// IMPROVISING :D

@mixin mask-image($icon-name) {
  &.#{$icon-name} {
    -webkit-mask-image: url('../assets/icons/#{$icon-name}.svg');
    mask-image: url('../assets/icons/#{$icon-name}.svg');
  }
}

i.custom-icon {

  display: block;
  width: 14px;
  height: 14px;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: cover;
  mask-size: cover;
  background-color: $color-white;

  @include mask-image(heart);
  @include mask-image(list);
  @include mask-image(eye);
  @include mask-image(eye-stroke);
  @include mask-image(minus);
  @include mask-image(plus);
  @include mask-image(pencil);
  @include mask-image(x);
  @include mask-image(check);
  @include mask-image(garbage);
}