$color-blue-1: #27C0F0;
$color-blue-2: #35A0C1;
$color-blue-3: #2B748B;

$color-black: #0f0f0f;
$color-white: #ffffff;

$color-gray-1: #7B7B7B;
$color-gray-2: #E1E1E1;

$color-red: #E94343;

$color-yellow: #E9C443;