.landing {

  display: flex;
  flex-direction: column;
  align-items: center;

  height: 100vh;

  &__border {
    
    width: 100%;
    min-height: 50px;
    
    background-image: url('../assets/images/food-border.svg');
    background-repeat-y: no-repeat;
    background-position: top;
  }

  &__header,
  &__content,
  &__footer {
    margin: 12px 24px;
    width: 90%;
  }

  &__header {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    color: $color-white;
    text-align: center;
    font-size: 16px;

    margin-top: 16px;
    
    .title {
      font-family: Fredoka;
      font-size: 44px;
      margin-bottom: 8px;
    }

    .title,.subtitle {
      max-width: 80%;
    }
  }
  
  &__content {

    &,.card {
      min-height: 327px;
    }

    .card__content {

      height: 140px;
      overflow: auto;  

      .options-list {

        display: grid;

        .options-item {

          align-items: center;
          cursor: pointer;

          margin-bottom: 8px;
          padding: 0 8px;

          color: $color-gray-1;

          border-radius: 4px;

          transition: color .2s ease-in-out,
                      background-color .4s ease-in-out;

          &:not(.empty) {
            display: grid;
            grid-template-areas: "eye name budget";
            grid-template-columns: 20px auto 40px;
          }

          &:last-child {
            margin-bottom: 0;
          }

          &[disabled] {
            color: $color-gray-2;
          }

          &.empty {
            
            text-align: center;

            &.alert {
              color: $color-red;
            }
          }

          .budget {
            text-align: right;
          }

          .eye-icon {

            .custom-icon {
              background-color: $color-blue-3;
            }

            &:focus {
            
              outline: none;

              .custom-icon {
                background-color: $color-blue-2;
              }
            }

            &.color-red {

              .custom-icon {
                background-color: $color-red;
              }

              &:focus {
                .custom-icon {
                  background-color: lighten($color-red,10);
                }
              }
            }

            &.color-yellow {

              .custom-icon {
                background-color: $color-yellow;
              }

              &:focus {
                .custom-icon {
                  background-color: lighten($color-yellow,10);
                }
              }
            }
          }
        }

        &.raffling {

          .options-item:not([disabled]) {

            @keyframes flicker {
              0%,100% {
                background-color: rgba($color-blue-1, 0);
              }
              50% {
                background-color: rgba($color-blue-1, 1);
              }
            }

            animation: flicker infinite;
  
            @for $i from 1 through 100 {
              &:nth-child(#{$i}) { 
                animation-duration: #{0.4 + $i/10}s;
              }
            }
          }
        }
      }
    }

    .action-menu {

      display: flex;
      justify-content: space-between;

      width: 100%;

      padding: 8px;

      .editor-actions {

        display: flex;
        flex-direction: column;

        .btn {
          margin: 4px 0;
        }
      }

      .run-action {

        display: flex;
        align-items: center;
        justify-content: center;
        
        flex-grow: 1;
        
        margin-left: 16px;
      }
    }

    .add-edit-mode {

      width: 100%;
      
      padding: 8px;

      .form {

        .form-section {
          
          display: flex;
          justify-content: space-between;

          &--buttons {

            justify-content: center;

            .btn {
              margin: 0 8px;
            }
          }

          .form-field {

            display: flex;
            flex-direction: column;

            margin-bottom: 16px;

            max-width: calc(50% - 16px);

            label {
              color: $color-black;
              margin-bottom: 8px;

              [data-price-display] {
                color: $color-gray-1;
              }
            }

            .range-slider {
              margin: auto 0;
            }
          }
        }
      }
    }

    .remove-mode {

      padding: 8px;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;

      .btn {
        margin-top: 16px;
      }
    }
  }
  
  &__footer {

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; 

    text-align: center;
    color: $color-white;

    flex-grow: 1;

    .warning {

      .warning-text {
        margin-bottom: 8px;
      }
    }

    .credits {

      display: flex;
      align-items: center;
      justify-content: center;

      width:100%;
      
      color: $color-blue-3;

      margin-top: 16px;

      & > * {
        margin: 0 4px;
      }
    }
  }
}