// IMPROVISING :D

i.custom-icon {

  display: block;
  width: 14px;
  height: 14px;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: cover;
  mask-size: cover;
  background-color: $color-white;

  &.heart {
    -webkit-mask-image: url('../assets/icons/heart.svg');
    mask-image: url('../assets/icons/heart.svg');
  }

  &.list {
    -webkit-mask-image: url('../assets/icons/list.svg');
    mask-image: url('../assets/icons/list.svg');
  }

  &.eye {
    -webkit-mask-image: url('../assets/icons/eye.svg');
    mask-image: url('../assets/icons/eye.svg');
  }

  &.eye-stroke {
    -webkit-mask-image: url('../assets/icons/eye-stroke.svg');
    mask-image: url('../assets/icons/eye-stroke.svg');
  }

  &.minus {
    -webkit-mask-image: url('../assets/icons/minus.svg');
    mask-image: url('../assets/icons/minus.svg');
  }

  &.plus {
    -webkit-mask-image: url('../assets/icons/plus.svg');
    mask-image: url('../assets/icons/plus.svg');
  }

  &.pencil {
    -webkit-mask-image: url('../assets/icons/pencil.svg');
    mask-image: url('../assets/icons/pencil.svg');
  }
}