.btn {

  border: none;
  background: none;
  border-radius: 50px;
  padding: 4px 10px;
  font-family: Chewy;
  font-size: 14px;
  color: $color-white;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;

  @function _box-shadow-property-3d($color) { 
    @return 1px 2px 0 darken($color, 15);
  }

  @mixin box-shadow-3d($color: $color-black) {
    
    box-shadow: _box-shadow-property-3d($color);
    
    transform: translate(0,0);
    transition: box-shadow .1s ease-in-out,
                transform .1s ease-in-out;  

    &:focus {
      box-shadow: _box-shadow-property-3d($color),
                  inset 0 2px 0 lighten($color, 20);
    }

    &:active {
      box-shadow: 0 0 0 darken($color, 15);
      transform: translate(1px,2px);
      outline: none;
    }
  }

  @mixin set-color-properties($color) {

    background-color: $color;

    &.btn--3d {
      @include box-shadow-3d($color);
    }

    &.btn--icon {
      .custom-icon {
        background-color: $color;
      }
    }
  }

  &:focus {
    outline: none;
  }

  &--blue {
    @include set-color-properties($color-blue-3);
  }

  &--light-blue {
    @include set-color-properties($color-blue-2);
  }

  &--red {
    @include set-color-properties($color-red);
  }

  &--yellow {
    @include set-color-properties($color-yellow);
  }

  &--icon {

    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

    &::before {

      content: '';
      
      position: absolute;
      right: 9px;
      
      width: 16px;
      height: 16px;
      
      border-radius: 50px;
      
      background: $color-white;
    }

    .custom-icon {
      margin: 0 3px 0 12px;

      width: 8px;
      height: 8px;
    }
  }

  &--circle {
    width: 72px;
    height: 72px;
    text-transform: uppercase;
  }
}